.scroll-top {
  position: fixed;
  bottom: 50px;
  right: 25px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 12px 16px;
  border-radius: 5%;
  cursor: pointer;
  /* opacity: 0.5; */
  transition: 0.2s;
  z-index: 9999;
}