#contact-section {
    padding: 3rem 1rem;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#contact-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.heading {
    text-align: center;
}

form {
    max-width: 700px;
    margin: 1rem auto;
    padding: 1rem;
}

label, input {
    width: 100%;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 1rem;
}

button {
    padding: 5px;
    min-width: 200px;
    display: block;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}