#footer-section {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contacts {
    margin-bottom: 1rem;
}

#footer-section h3 {
    margin-bottom: 0.5rem;
}

#footer-section > div {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    margin-bottom: 2rem;
}

.links > a {
    text-decoration: none;
    color: black;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.links img {
    margin-right: 0.5rem;
}
