#footer-section {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
}

#footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#footer-links > a {
    text-decoration: none;
    color: black;
}

#footer-links > a:hover {
    font-weight: bold;
}

.dash {
    border: 1px solid black;
    height: 2px;
    width: 0.5rem;
}

hr{
    width: 100%;
    margin: 1rem 0;
}

.links > a {
    text-decoration: none;
    color: black;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.links img {
    margin-right: 0.5rem;
} 

#footer-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#links-span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 500px) {
    #footer-links > a {
        width: 100%;
        text-align: center;
        margin: 0.2rem 0;
    }

    .dash{
        display: none;
    }

    #footer-bottom > span {
        width: 100%;
        text-align: center;
    }

    .links{
        margin-top: 0.5rem;
    }
}