h1 {
    font-size: 3rem;
}

#intro-section {
    min-height: 100vh;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#name {
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}

.flex-container {
    padding: 0.5rem;
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#image-wrapper {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
}

#image-wrapper > img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 45%;
    padding: 1rem;
    border: 2px solid rgba(72, 71, 71, 0.2);
}

#right {
    text-align: right;
}

#right .text {
    font-size: 3rem;
}

.headings {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.3);
}

#left .text {
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
}

#left > section {
    margin-bottom: 1rem;
    text-align: justify;
}

@media screen and (max-width: 770px) {
    #main-container {
        flex-direction: column;
    }

    #center {
        margin: 1rem 0;
    }

    #right {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 770px) {
    #image-wrapper > img {
        padding: 0.5rem;
    }

    #left, #right {
        max-width: 150px;
    }
}