#portfolio-section {
    padding: 3rem 1rem;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#portfolio-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 400px;
}

.project-container {
    display: inline-block;
    /* margin-top: 2rem; */
    max-width: 350px;
} 

.project-image {
    width: 350px;
    height: 250px;
    object-fit: cover;
}
