#portfolio-section {
    padding: 3rem 1rem;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#portfolio-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.project-container {
    margin-top: 2rem;
    max-width: 350px;
} 

.project-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
