#skill-section {
    padding: 3rem 1rem;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#skill-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem auto;
    justify-content: space-between;
}

.outer-container {
    /* background-color: blue; */
    display: inline-block;
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    padding: 0.7rem;
    /* border-radius: 0.8rem; */
}

.inner-container {
    margin: 0.5rem 0;
    background-color: #8080806e;
    border-radius: 45%;
    height: 185px;
}

.inner-container > .text {
    font-size: 1.5rem;
}

.logo {
    width: 145px;
    height: 130px;
    object-fit: cover;
}

@media screen and (max-width: 500px) {
    #skill-container {
        justify-content: center;
    }
}